@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800,900&display=swap');
body {
    font-family: "Inter", sans-serif;
    width: 100%;
}


.button {
    background-color:pink;
    max-width: fit-content;
    border-radius: 15px;
    display: flex;
    margin: auto;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.delButtonDiv {
    background-color: #DC2525;
    outline: inherit;

}

.button:hover {
    filter:brightness(125%);
    transform: scale(1.1);
}

.button p {
    font-size: 11.5pt;
    margin: 5px;
    padding: 5px;
}

#createContainer {
    border: 3px black solid;
    margin: 10px;
    padding: 5px;
}

#createContainer input {
    padding: 3px;
    margin: 5px;

}

.createForm {
    width:100%;
}

.upload_box {
    position: relative;
    border: 2px dashed #aaa;
    border-radius: 3px;
    text-align: center;
    padding: 2rem;
}

.upload_box input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    inset: 0;
    cursor: pointer;
}

.upload_box.drag_over { /* drag_over is a helper class to use in JS */
    border-color: #000;
    background-color: #f0f0f0;  
}

.upload_box.error {
    border-color: red;
}

.upload_prompt {
    pointer-events: none; /* make sure all clicks 'fall through' to the hidden input */
    font-size: 1.2rem;
    color: #666;
}

.upload_prompt p {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.pictureDiv, .textInputDiv, .submitDiv {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.userList {
    display: inline-flex;
}

.userDetails {
    display: flex;
    flex-direction: column;
}

.userDetails p, .userDetails img {
    margin: 1rem;
}

.userBox {
    border: 3px black solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 33%;
}

.userBox img {
    width: 75%;
    margin: auto;
}

.userDetails {
    text-align: center;
}