<!DOCTYPE HTML>
{% include "header.html" %}
<div>
	<form id=actions_form method="POST" action="/update_actions">
		<table>
			{% for entity_type, entity_id in actions_list %}
			<tr>
				<select form="actions_form" name="entity_type{{loop.index0}}">
					<option hidden disabled value="">--Select an Option--</option>
					<option {% if entity_type.capitalize() == 'Light' %} selected {% endif %}>Light</option>
					<option {% if entity_type.capitalize() == 'Switch' %} selected {% endif %}>Switch</option>
					<option {% if entity_type.capitalize() == 'Media_player' %} selected {% endif %}>Media Player</option>
				</select>
				<input value={{entity_id}} type="text" name="entity_id{{loop.index0}}"></input>
				<button type="submit" form="actions_form" formmethod="POST" formaction="/delete_action" name="delete_index" value="{{loop.index0}}">Delete</button>
			</tr>
			<br>
			{% endfor %}
			<tr>
				<select form="actions_form" name="type">
					<option disabled hidden selected>--Select an Option--</option>
					<option>Light</option>
					<option>Switch</option>
					<option>Media Player</option>
				</select>
				<input type="text" name="entity_id"></input>
			</tr>
			<br>
			<input type="submit"></input>
		</table>
	</form>
</div>
