<head>
	<link rel="icon" href="https://img.icons8.com/?size=64&id=81202&format=png&color=000000" type="image/x-icon">
	<link rel="stylesheet" href="static/css/styles.css">
</head>
<div id="topper" class="site-header">
	<div id="title">
	    <a href="/">
		<img src="https://img.icons8.com/?size=64&id=81202&format=png&color=000000" alt="logo" />
	    </a>
	    <a href="/">
		<h2>Hestia</h2>
	    </a>
	</div>
	<div id="pages">
	    <h2><a href="/userlist"> Userlist </a></h2>
	    <h2><a href="/actions"> Actions </a></h2>
	</div>
</div>
