<!DOCTYPE html>
{% include "header.html" %}
<body>
    <div class="header">
        <h1>Log in to modify your profile</h1>
    </div>
    <div class="signon">
        <input type="text" placeholder="Username" required><br>
        <input type="password" placeholder="Password" required><br>
        <div class="button"><p>Log In</p></div>
    </div>
    <div class="signon">
        <h2>Don't have a profile?</h2>
        <div class="button signup"><p>Sign up</p></div>
    </div>
    
    <script src="" async defer></script>
</body>
