<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hestia: User List</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/userlist.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Users</h1>
        <div class="userList">
            {% for user in users %}
                <div class="userBox">
                    <img src="{{ user.img }}">
                    <div class="userDetails">
                        <p>{{ user.name }}</p>
                        <p>{{ user.song_url }}</p>
                        <p>{{ user.light_color }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="button" id="createButton">
            <p>Create a user</p>
        </div>

        <div id="createContainer" style="display: none;">
            <form class="createForm" method="POST" accept="image/*" enctype="multipart/form-data">
                <div class="upload_box" id="upload_box">
                    <input type="file" name="img" required id="file_input">
                    <div class="upload_prompt">
                        <p>Click or Drag Files Here to Upload</p>
                        <p id="fileName"></p>
                    </div>
                </div>
                <div class="textInputDiv">
                    <input name="name" placeholder="John Example" required>
                    <input name="song_url" type="url" placeholder="https://spotify.com/example" pattern="https://.*" required>
                    <input name="light_color" placeholder="RGB (0-255, 0-255, 0-255)" pattern=".{1,3},.{1-3},.{1-3}" required>
                </div>
                <div class="submitDiv">
                    <input id="submit" class="submit" type="submit" disabled value="Create User">
                </div>
            </form>
        </div>
        <script src="/static/js/userlist.js" async defer></script>
    </body>
</html>